.desc{
    flex-direction: column;
    display: flex;
    max-width: 680px;
    row-gap: 20px;
}

.desc > p{
    margin: 0 auto;
}

.singleblogWrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
} 

