.desc{
    flex-direction: column;
    display: flex;
    max-width: 680px;
    row-gap: 20px;
}

.desc > p{
    margin: 0 auto;
    font-size: 20px;
}



.singleblogWrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.Blogtitle{
    font-size: 42px;
}
